.contato {
    padding: 1em;
}

.contato__titulo {
    color: var(--cor-branco);
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    color: var(--cor-branco);
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    background-color: transparent;

    /*Definindo o tamano da borda, o seu tipo, que 
      será sólido, bem como a sua cor. */

    border: 1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 24px;
    padding: 1em;

    /* Definindo que o input ocupe 100% 
       da largura disponível. */
    width: 90%;

}

.contato__email::placeholder {
    font-weight: 400;

    /*Adicionando mais uma vez a fonte, pois 
      por mais que ela esteja "setada" no body, 
      esse só atinge os elementos que estejam 
      circunscritos a ele, desconsiderando o que 
      está dentro do input. */

    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding-left: 4em;
    color: var(--cor-branco);

    /*Aqui adiciono a imagem da lupa ao input, 
      porém devo passar logo em sequência o no-repeat, 
      pois caso contrário ela tentará preencher todo 
      o espaço. */
    background: url(../Assets/carta_icone.png) no-repeat;
    background-position: 1em;

}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.8em;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__descricao {
        margin-right: 1em;
        width: 30%;
    }

    .contato__email {
        width: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        padding: 3em 20vw;
    }

    .contato__email {
        padding-left: 4em; /* ou outro valor maior conforme necessário */
    }

    .contato__email::placeholder {
        font-weight: 400;
    
        /*Adicionando mais uma vez a fonte, pois 
          por mais que ela esteja "setada" no body, 
          esse só atinge os elementos que estejam 
          circunscritos a ele, desconsiderando o que 
          está dentro do input. */
    
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        padding-left: 4em;
        color: var(--cor-branco);
    
    
    }

}